body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #e0f7fa 0%, #80deea 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed to flex-start to allow scrolling */
  min-height: 100vh; /* Ensure minimum height for scrolling */
  overflow: auto; /* Allow overflow for scrolling */
}

.App {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-top: 20px; /* Added margin-top to create space when scrolling */
}

.intro {
  margin-bottom: 20px;
}

.intro h1 {
  color: #00796b;
  font-size: 28px;
  margin-bottom: 10px;
}

.intro p {
  color: #555;
  font-size: 16px;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.3s;
}

input[type="file"]:hover {
  border-color: #0056b3;
}

.image-preview {
  margin-top: 20px;
}

.uploaded-image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.color-block {
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.color-block:hover {
  transform: scale(1.05);
}

.color-swatch {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-hex {
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

/* New CSS for percentage bars */
.percentage-bar {
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.percentage-text {
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

.use-cases {
  margin-top: 40px;
  text-align: left;
  color: #00796b;
}

.use-cases h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.use-cases ul {
  list-style: none;
  padding: 0;
}

.use-cases li {
  margin: 10px 0;
  font-size: 16px;
}
.download-report-button {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Button padding */
  background-color: #007BFF; /* Button background */
  border: none; /* No border */
  color: white; /* Text color */
  font-size: 16px; /* Button font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Transition effect on hover */
}

.download-report-button:hover {
  background-color: #0056b3; /* Darker background on hover */
}


.copy-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007BFF; /* Alert background */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow */
  z-index: 1000; /* Ensure it appears above other elements */
  transition: opacity 0.5s ease; /* Smooth transition */
}